doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/roomCreate.css')
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/socketCreateRoom.js')
  body
    #notification
        p#info
    #content
        #adm
            label Admin nick
                input#adminName(type='text')
        #rm
            label Room number
                input#roomName(type='text')
        button#createButton(type='button') Create!