doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chat.css')
    link(rel='stylesheet', href='/stylesheets/canvas.css')
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/urlTaker.js')
    script(src='/javascripts/gamepack.js')
    script(src='/javascripts/main.js')
  body
    #popup
        p Kind sir can you give me you name?
        input#username(type='text', autocomplete='off')
        button#submit(type='button') Enter the world!
    #wrapper
        #content
            #notificationBar

            #main
                #left.charMoveX
                #right.charMoveX
                #top.charMoveY
                #bottom.charMoveY
                canvas#mainCanvas
        footer
            #foot
                #chat
                    #chatHeader.down
                        b CHAT
                    #chatBody
                    input#chatSend(type='text')