doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Purple+Purse&subset=latin,latin-ext')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/urlTaker.js')
    script(src='/javascripts/gamepack.js')
    script(src='/javascripts/main.js')
  body
    #popup
        p Kind sir can you give me you name?
        input#username(type='text', autocomplete='off')
        button#submit(type='button') Enter the world!
    #wrapper
        #content
            #notificationBar

            #main
                #gameWrapper
                    #left.charMoveX
                        canvas#l
                    #right.charMoveX
                        canvas#r
                    #top.charMoveY
                        canvas#t
                    #bottom.charMoveY
                        canvas#b
                    canvas#playerCanvas
                    canvas#mainCanvas
            #adminWrapper
                label d
                    input#diceWalls(type='text', autocomplete='off')
        footer
            #foot
                #chat
                    #chatHeader.down
                        b CHAT
                    #chatBody
                    input#chatSend(type='text')