doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/urlTaker.js')
    script(src='/javascripts/socket.js')
  body
    h1= title
      p Welcome to #{title}
      div
        b ROOMS
          #rooms
        div
           #conversation
           input#data(type='text', style='width:200px;')
           input#datasend(type='button', value='send')