#main {
  position: absolute;
  width: 650px;
  height: 350px;

  #left {
    left: 0px;
  }
  #right {
    right: 0px;
  }
  #top {
    top: 0px;
  }
  #bottom {
    bottom: 0px;
  }

  .charMoveX {
    position: absolute;
    top: 25px;
    height: 300px;
    width: 25px;
  }

  .charMoveY {
    position: absolute;
    left: 25px;
    width: 600px;
    height: 25px;
  }

  #mainCanvas {
    position: absolute;
    left: 25px;
    top: 25px;
    width: 600px;
    height: 300px;
  }
}

#popup {
  width:200px;
  height:100px;
  position:absolute;
  top:50%;
  left:50%;
  margin:-50px 0 0 -100px; /* [-(height/2)px 0 0 -(width/2)px] */
  display:none;
}