#main {
  position: absolute;
  width: 650px;
  height: 350px;
  margin: 0 auto;
}
#main #left {
  left: 0px;
}
#main #right {
  right: 0px;
}
#main #top {
  top: 0px;
}
#main #bottom {
  bottom: 0px;
}
#main .charMoveX {
  position: absolute;
  top: 25px;
  height: 300px;
  width: 25px;
}
#main .charMoveY {
  position: absolute;
  left: 25px;
  width: 600px;
  height: 25px;
}
#main #mainCanvas {
  position: absolute;
  left: 25px;
  top: 25px;
  width: 600px;
  height: 300px;
}
#popup {
  width: 200px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -100px;
  /* [-(height/2)px 0 0 -(width/2)px] */

  display: none;
}
