* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Purple Purse', cursive;
  text-align: center;
  height: 100%;
}

#wrapper {
  display: none;
}

#content {
  position: relative;
  margin: 0 auto;
  text-align: left;
  width: 900px;
  height: 100%;

  #main {
    position: absolute;
    width: 690px;
    height: 434px;
    margin: 0 auto;

    #left {
      left: 0px;
    }
    #right {
      right: 0px;
    }
    #top {
      top: 0px;
    }
    #bottom {
      bottom: 0px;
    }

    .charMoveX {
      position: absolute;
      top: 25px;
      height: 384px;
      width: 25px;
    }

    .charMoveY {
      position: absolute;
      left: 25px;
      width: 640px;
      height: 25px;
    }

    #gameWrapper {
      position: absolute;
      width: 690px;
      height: 434px;
      top: 0px;
      left: 0px;
    }

    canvas {
      position: absolute;
      left: 25px;
      top: 25px;
      width: 640px;
      height: 384px;
    }

    #mainCanvas {
      z-index: 1;
    }
    #playerCanvas {
      z-index: 10;
    }
  }

  #adminWrapper {
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;

    input {
      width: 50px;
    }
  }
}

a {
  color: #00B7FF;
}
#popup {
  width:200px;
  position:absolute;
  top:50%;
  left:50%;
  margin:-50px 0 0 -100px; /* [-(height/2)px 0 0 -(width/2)px] */
  display:none;
  z-index: 99999999;
}