* {
  margin: 0;
  padding: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  height: 100%;
}
#wrapper {
  display: none;
}
#content {
  position: relative;
  margin: 0 auto;
  text-align: left;
  width: 900px;
  height: 100%;
}
a {
  color: #00B7FF;
}
